{% extends 'layouts/base.html' %}

{% block title %} My Projects {% endblock title %}

{% block content %}
  <!-- [ Main Content ] start -->
  <div class="pc-container">
    <div class="pc-content">
      <!-- [ breadcrumb ] start -->
      <div class="page-header">
        <div class="page-block">
          <div class="row align-items-center">
            <div class="col-md-12">
              <div class="page-header-title">
                <h5 class="m-b-10">Pages</h5>
              </div>
              <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Pages</a></li>
                <li class="breadcrumb-item" aria-current="page">My Projects</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- [ breadcrumb ] end -->


      <!-- [ Main Content ] start -->
      <div class="row">
        <!-- [ Typography ] start -->
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <h2>My Projects</h2>
            </div>
            <div class="card-body">
                <div class="container">
                  <h1>Example Project</h1>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Jan</th>
                        <th>Feb</th>
                        <th>Mar</th>
                        <th>Apr</th>
                        <th>May</th>
                        <th>Jun</th>
                        <th>Jul</th>
                        <th>Aug</th>
                        <th>Sep</th>
                        <th>Oct</th>
                        <th>Nov</th>
                        <th>Dec</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for project in projects %}
                        <tr>
                          <td>{{ project.id }}</td>
                          <td>{{ project.Jan }}</td>
                          <td>{{ project.Feb }}</td>
                          <td>{{ project.Mar }}</td>
                          <td>{{ project.Apr }}</td>
                          <td>{{ project.May }}</td>
                          <td>{{ project.Jun }}</td>
                          <td>{{ project.Jul }}</td>
                          <td>{{ project.Aug }}</td>
                          <td>{{ project.Sep }}</td>
                          <td>{{ project.Oct }}</td>
                          <td>{{ project.Nov }}</td>
                          <td>{{ project.Dec }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
            </div>
          </div>
        </div>

        <!-- [ Typography ] end -->
      </div>
      <!-- [ Main Content ] end -->
    </div>
  </div>
  <!-- [ Main Content ] end -->
{% endblock content %}
