{% extends 'layouts/base.html' %}

{% block title %} Personal Info {% endblock title %}

{% block content %}
  <!-- [ Main Content ] start -->
  <div class="pc-container">
    <div class="pc-content">
      <!-- [ breadcrumb ] start -->
      <div class="page-header">
        <div class="page-block">
          <div class="row align-items-center">
            <div class="col-md-12">
              <div class="page-header-title">
                <h5 class="m-b-10">Pages</h5>
              </div>
              <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Pages</a></li>
                <li class="breadcrumb-item" aria-current="page">Personal Info</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- [ breadcrumb ] end -->


      <!-- [ Main Content ] start -->
      <div class="row">
        <!-- [ Typography ] start -->
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <h2>Personal Info</h2>
            </div>
            <div class="card-body">
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <th>ID:</th>
                    <td>{{ current_user.id }}</td>
                  </tr>
                  <tr>
                    <th>Username:</th>
                    <td>{{ current_user.username }}</td>
                  </tr>
                  <tr>
                    <th>Email:</th>
                    <td>{{ current_user.email }}</td>
                  </tr>
                  <tr>
                    <th>Role:</th>
                    <td>{{ current_user.role.name }}</td>
                  </tr>
                  <tr>
                    <th>Team:</th>
                    <td>{{ current_user.team.short_name }}</td>
                  </tr>
                </tbody>
              </table>
              <form action="" method="POST">
                <div class="mb-3">
                  <label for="inputFirst" class="form-label">Change your username:</label>
                  <input type="text" class="form-control" id="inputFirst" name="first_name" value="{{ current_user.name }}">
                </div>
                <button type="button" class="btn btn-primary">Update username</button>
{#                <button type="submit" class="btn btn-primary">Update username</button>#}
              </form>
            </div>
          </div>
        </div>

        <!-- [ Typography ] end -->
      </div>
      <!-- [ Main Content ] end -->
    </div>
  </div>
  <!-- [ Main Content ] end -->
{% endblock content %}
