{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}
{% block content %}
<script>
    // e.g. single project all member
    var chart_username = "{{ datadict['username'] }}";
    var chart_year = "{{ datadict['year'] }}";
    var chart_dataframe = {{ dataset['dataframe']|tojson }};
    var chart_row_cnt = {{ dataset['size'][0] }};
    var chart_col_cnt = {{ dataset['size'][1] }};
    // TODO 如果存在多个chart，循环将list中的对应信息映射赋值到变量中，然后在渲染时根据index/key相应调用
</script>
<div class="pc-container">
    <div class="pc-content">
      <!-- [ Main Content ] start -->
      <div class="row">
        <!-- [ sample-page ] start -->
        {# ECharts Demo #}
        <div class="col-xl-12 col-md-6">
          <div class="card">
            <div class="card-body" style="padding-bottom:40px;">
              <div class="row mb-3 align-items-center">
                <div class="col-auto">
                  <select id="chart-selector" class="form-select p-r-35">
                    <option selected>Months for each project</option>
                    <option>Projects for each month</option>
                    <option>For a project</option>
                    <option>For a month</option>
                  </select>
                </div>
              </div>
              <div id="chart" style="width: 100%"></div>
            </div>
          </div>
        </div>

{#        <!-- [ sample-page ] end -->#}
      </div>
      <!-- [ Main Content ] end -->
    </div>
  </div>

{% endblock content %}

{% block extra_js %}
  <script>
    {# Set the chart container size #}
    document.getElementById('chart').style.height = (chart_row_cnt * 130).toString().concat("px");
  </script>
  <!-- Apex Chart -->
  <script src="{{ url_for('static', filename='assets/js/plugins/echarts.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/self-js/dashboard/project_resource.js') }}"></script>
  <!-- [Page Specific JS] end -->
{% endblock extra_js %}
